body{
  background-color: rgb(10,120,30);
  color:white;
}

header{
  background-color: rgb(100,30,30);
  margin-left: 0;
  margin-right: 0;
}

h1{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.each_title{
  display:flex;
  justify-content: center;
  width:85%;
  margin-left: auto;
  margin-right: auto;
}

.read_big_theme,.read_contents_small,.read_contents_cont{
  border:black double 3px;
  background-color: blanchedalmond;
  color: black;
  font-style: italic;
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
}

.read_big_theme{
  font-size: 1.3em;
}


.read_contents_small,.read_contents_cont{
  display:none;
  width: 100px;
}


.read_contents_small{
  font-size: 0.9em;
}

.read_contents_cont{
  font-size: 0.8em;
}


.read_contents{
  position:absolute;
  /* display:none; */
  left:0;
  top:0;
}


.learn_title{
  cursor:pointer;
}

.add_form{
  margin-top: 30px;
  width:85%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  border: white solid 3px;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.2em;
}


[class$="frame"]{
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: white dashed 1px;
}

#conscious,#edit_conscious_textarea{
  width:95%;
  margin-left: auto;
  margin-right: auto;
}

.counscious_list{
  display: block;
  margin-bottom: 8px;
}


.plus_button_div,#config_button_div,#existconfig_button_div{
  margin-top: 10px;
  text-align: center;
}

#config_button_div{
  margin-bottom: 10px;
}

.add_theme,.if_error,.conf_message{
  color:red;
  /* animation-name:add_anime;
  animation-duration:2s;
  animation-fill-mode:forwards; */
  height:30px;
  line-height: 30px;
  margin-bottom: 0;
  margin-top: 0;
}

.add_theme{
  text-align: center;
}

.if_error{
  text-align: left;
  padding-left: 30px;
  font-size: 0.9em;
}

@keyframes add_anime{
  99.9%{
    visibility: visible;
    opacity:1;
    height:30px;
    line-height: 30px;
  }
  100%{
    visibility: hidden;
    opacity:0;
    height:0px;
   line-height: 0px;
  }
}

/* 意識することへのリンク */
.to_conscious{
  text-align: center;
  font-size: 0.9em;
}

/* ボタンの編集 */
button{
  font-size: 0.9em;
}


/* inputとselectの微修正 */
input,select{
  transform: translateY(-2.5px);
}

/* 初期状態でfieldsetは表示しない */
fieldset{
  display: none;
}

/* crud_list */
.crud_list{
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  width:300px;
  padding:20px;
  padding-top:15px;
  border:white solid 1px;
  border-radius: 10px;
}

/* 初期状態はリンク表示 */
.field_display,.to_config_page{
  width:250px;
  padding-bottom: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.1em;
  font-weight: bold;
  border-bottom: white solid 1px;
  cursor: pointer;
}

.field_display::before,.to_config_page::before{
  content: "・";
}

.to_config_page>a{
  color:white;
}




/* configページ */

#conf_h2{
  color:white;
  text-align: center;
}

.exist_bigtheme_edit_form{
  display:none;
}

#go_to_exist_conf{
  text-align: center;
}

.conf_change_form,.exist_bigtheme_edit_bigclass{
  margin-right: auto;
  margin-left: auto;
  width:80%;
  max-width:500px;
  min-width:300px;
  border:white solid 2px;
  border-radius: 10px;
}


.conf_big_theme_div,.conf_choise_cont_div,.conf_file_div,.existconf_div{
  border-bottom: white dashed 1px;
  margin-top: 8px;
  padding:20px;
  width:90%;
  margin-left: auto;
  margin-right: auto;
  min-width: 280px;
  text-align: center;
}

.conf_big_theme{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:80%;
  margin-top: 10px;
}

.non_operate_li{
  text-align: left;
}

.conf_choise_p,.conf_which_sets,.conf_file_div{
  text-align: left;
}

#conf_big_to_cont,#conf_back_cont,#existconf_back2,#existconf_next1{
  display: block;
  text-decoration: underline;
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: center;
  cursor: pointer;
}

.conf_cont_which_input{
  vertical-align: middle;
}

.conf_cont_label{
  transform: translateY(-5px);
}

#conf_cont_spanSets,#existconf_spanSets{
  display:flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 5px;
}

.conf_file_from_bigTheme{
  margin-top: 0;
  margin-bottom: 0;
}


#conf_cont_to_file,#conf_back_bigTheme,#existconf_next2,#existconf_back1{
  text-decoration: underline;
  text-align: center;
  cursor: pointer;
}

#conf_cont_to_file{
  margin-right: 50px;
}

#conf_back_bigTheme{
  margin-left: 50px;
}

.conf_choise_cont_div,.conf_file_div{
  display: none;
}

.back_home{
  text-align: center;
  color:white;
}


/* exist_confページ */

#existconf_spanSets{
  margin-left: auto;
  margin-right: auto;
  width:50%;
  min-width: 100px;
}

.existconf_radioparts_fulldiv{
  width:80%;
  margin-left: auto;
  margin-right: auto;
  border:white dashed 1px;
  border-radius: 5px;
  padding:10px;
  text-align: left;
}

.existconf_radioparts_fulldiv2{
  padding:3px;
  text-align: center;
}

.existconf_radioparts_fulldiv2>p{
  margin-top: 2px;
  margin-bottom: 2px;
}

.type2_each_div{
  margin-top: 10px;
  margin-bottom: 5px;
  width:80%;
  min-width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.exist_conf_type2_p{
  text-align: left;
  width:90%;
  min-width: 250px;
  margin-left: auto;
  margin-right: auto;
}

#existconf_namechanege{
  display:inline-block;
  width:90%;
  min-width: 250px;
  margin-left: auto;
  margin-right: auto;
  height:30px;
  line-height:30px;
  font-size: 1.1em;
}

.existconf_radiosets_type2{
  width:90%;
  min-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#existconf_button_div{
  display:none;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

/* brセット */
.br500{
  display:none;
}

@media screen and (max-width:500px){
 .br500{
   display: inline;
 }
}